
html, body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: white;
    color: #222;
    font-family: sans-serif;
    margin: auto;
    max-width: 600px;
    position: relative;
}

main {
    min-height: 100%;
}

article {
    /* even spacing between articles */
    margin-top: 3rem;
    padding-top: 3rem;
}

/**
* selects all `article` elements that are immediately preceded by another `article` element,
* meaning "every article element except the first one"
* */
article + article {
    border-top: 1px solid #c5c5c5;
}

p {
    line-height: 1.6;
}

.tags-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    margin-bottom: 3rem;
    padding: 0;
}

.tags-list li {
    margin-right: 0.5rem;
}
