@import './toast-message.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.nav-auth {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.nav-auth > * {
    margin: 0.5rem 0;
}
.nav-auth a {
    align-items: center;
    display: flex;
}
.nav-auth span {
    text-align: right;
    width: 70px;
}

.article-height {
    min-height: 65vh;
}

#post-body a {
    color: gray;
    font-weight: 600;
    text-decoration: underline;
}

#post-body ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.post-comments {
    align-items: end;
}
